/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);*/

.brand_and_logo {
    text-align:center;
}

/* Bootstrap Override: https://stackoverflow.com/questions/20721248/best-way-to-override-bootstrap-css */
.brandname#bootstrap-override {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 23px;
}

/* xs */
@media (min-width: 300px) {
  .brand_and_logo {
      width:75%;
  }

  .logo {
        margin-top: 7px;
        width: 50px;
    }
}

@media (min-width: 768px) {
  h3 {
    font-size: 10px;
  }

  .brand_and_logo {
      width:100%;
  }

  .brandwidth {
    width:100%
  }

  .logo {
    margin-top: 20px;
    width: 100px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* md */
@media (min-width: 992px) {
  .brand_and_logo {
      width:100%;
  }
  .logo {
      margin-top: 20px;
      width: 150px;
  }
}

.menu_item, .menu_item a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(200, 200, 200);
  text-align: center;
  text-decoration: none;
}

.paper.title, .class.title {
  font-weight: 500;
}

.paper.journal {
  font-style: italic;
  display: inline-block;
}

ul.bullet-free {
  list-style-type: none;
  padding-left: 10px;
}

.casual {
  font-weight: 200;
}

img.small {
  height: 75px;
  padding: 0 20px 20px 0;
}

img.left {
  float: left;
}

img.right {
  float: right;
}

body#bootstrap-override {
  padding:50px;
  background-color: #f3f3f3;
  color:rgb(90, 90, 90);
  font-weight:400;
  font-size: 1.4em
}

h1.section_title {
  font-size: 1.4em;
  font-weight: 500;
}

h1.modal_title {
  font-size: 1.4em;
}

h2.card-title {
  font-size: 1.4em;
  font-weight: 400;
}

h1 {
  color: #576D94
}

h2, h3, h4, h5, h6 {
  color:#222;
}


h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

li {
  line-height: 1.3em;
  margin: 0.5em 0;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

small a {
  font-size:11px;
  color:#39c;
  margin-top:-0.6em;
  display:block;
}

.pub_url a {
  color:#39c;
}

.wrapper {
  width:780px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:12px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  padding-top:50px;
  text-align: center;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
