doctype html
html
  head
    script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="5f02d45f-8c86-49c4-a7f6-0e090b323825" type="text/javascript" data-blockingmode="auto"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
    
    / favicon generated at: http://www.favicon-generator.org
    link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"
    link rel="icon" href="/favicon.ico" type="image/x-icon"

    title = current_page.data.title || "Soumya Ray"

    link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700" media="screen"
    = stylesheet_link_tag :styles
    = stylesheet_link_tag :social_adblock_workaround
    = javascript_include_tag 'all'
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/materia/bootstrap.min.css" integrity="sha384-W2UjBw+COF3Eo7koIX3NVgE5zvvJqgwN/iqcHt00n+MNZlyeUzotrrhvPcZVfSUZ" crossorigin="anonymous"
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.3.1/css/all.min.css" integrity="sha384-qrALq7+6jBOZIQsNnT6xGkMDru64qD6uTlDra39xrt2SoXl4pO3FX6Roz/RpR/BS" crossorigin="anonymous"
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.5/css/academicons.min.css" integrity="sha384-IAnhEDrYZnLsYcVzowpizdxXTHFovW5/CkZObGfY2QuaCKaQpvLCjj45LGb4Q/yE" crossorigin="anonymous"

  body class="#{page_classes}" id="bootstrap-override"
    div class="container"
      div class="row"
        div class="col-sm-3"
          == partial "partials/side_menu"
        div class="col-sm-9"
          == yield

    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"
