div id="showPhoto" class="modal fade" tabindex="-1" aria-label="Photo of Soumya Ray"
  div class="modal-dialog modal-dialog-centered"
    div class="modal-content"
      div class="modal-header"
        h1.modal_title.modal-title Soumya Ray
        button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      div class="modal-body"
        img.img-fluid src="/images/photo/soumya-ray-modal.jpg" alt="Photo of Soumya Ray"
      div class="modal-footer"
        a class="btn btn-primary" href="/downloads/soumya-ray-photo.jpg" download="soumya-ray-photo.jpg"
          i class="fa-solid fa-download" aria-hidden="true" style="margin-right:6px"
          | Download full size
        button type="button" class="btn btn-secondary" data-bs-dismiss="modal" Close
