- papers.each do |paper|
  p
    = "#{paper.authors.join(', ')} #{paper.year}"
    br
    - if paper.url
      a.paper.title href="#{paper.url}" #{paper.title}
    - else
      span.paper.title #{paper.title}
    br
    - if paper.journal
      span.paper.journal #{paper.journal}
      - if paper.volume
        = " (#{paper.volume}"
        = ":#{paper.issue}" if paper.issue
        = ")"
      - if paper.pages
        = ", pp. #{paper.pages}"
      - elsif paper.article
        = ", article #{paper.article}"
    - elsif paper.conference
      span.paper.conference 
            = "in proceedings of #{paper.conference}"
            - if paper.location
              = " – (#{paper.location})"
    - elsif paper.publisher
      - if paper.book
        = "in "
        span.paper.journal #{paper.book}
        = ", pp. #{paper.pages}" if paper.pages
        = ", #{paper.publisher}"
      - else
        span.paper.journal #{paper.publisher}
    - if paper.note
      br
      small.casual #{paper.note}
