h1.section_title Awards
.row
  - awards = data.achievements.awards
  - awards.count.times do |count|
    .col-sm-12
      div class="card"
        div class="card-header"
          h2.card-title
            = awards[count].name
        div class="card-body"
          ul.bullet-free
            - awards[count].instances.each do |instance|
              li #{instance}
h1.section_title Grants
.row
  - grants = data.achievements.grants
  - grants.count.times do |count|
    .col-sm-12
      div class="card"
        div class="card-header"
          h2.card-title
            = grants[count].name
        div class="card-body"
          ul.bullet-free
            - grants[count].instances.each do |instance|
              li
                - if instance.duration
                  span #{instance.duration} : #{instance.project}
                - else
                  span #{instance.project}
                - if instance.id
                  br
                  span.casual Grant ID: #{instance.id}
