h1.section_title Courses

- data.instruction.courses.each do |course|
  div class="card"
    div class="card-header"
      h2.card-title #{course.name} (#{course.id})
    div class="card-body"
      .row
        .col-md-6.order-md-2
          span style="text-align:justify; text-justify:distribute;" #{course.description}
        .col-md-3.order-md-1.col-6
          = partial("partials/img_thumb_modal", locals: {dir: 'images/courses', id: course.id, img: 'overview'})
        .col-md-3.order-md-3.col-6
          = partial("partials/img_thumb_modal", locals: {dir: 'images/courses', id: course.id, img: 'figure'})
    div class="card-footer"
      .row
        .col-8
          i class="fa-brands my-fa-facebook-square" aria-hidden="true" style="margin-right:5px"
          a href="#{course.facebook_group.url}"
            span #{course.facebook_group.name}
        .col-4 style="text-align: right;"
          a href="#{course.syllabus}" See Syllabus
