/ Header and page nav
.row
  .col-sm-4
    h1.section_title Research
  .col-sm-8.anchor-menu
    span class="align-bottom"
      a href="#journal-papers" journals
      span.grayed
        = " | "
      a href="#conference-papers" conferences
      span.grayed
        = " | "
      a href="#books" books
      span.grayed
        = " | "
      a href="#collaboration-papers" collaborations
      span.grayed
        = " | "
      a href="#lab" lab

/ Research Card
a class="invisible" name="journal-papers"
.card
  .card-header
    h2.card-title Journal Papers
  .card-body
    - journal_papers = data.journal_papers.papers.reject(&:collaboration)
    - shown = journal_papers.first(3)
    - more = journal_papers.drop(3)
    = partial("partials/research_papers", locals: { papers: shown })
    a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
      = "+ #{more.size} more"
    div class="collapse" id="collapseExample"
      = partial("partials/research_papers", locals: { papers: more })
  .card-footer
    .row
      .col-6
        i class="ai ai-google-scholar" aria-hidden="true" style="margin-left:10px; margin-right:10px;"
        a href="https://scholar.google.com/citations?user=6WjiSOwAAAAJ" Google Scholar Profile
      .col-6 style="text-align:right;"
        i class="ai ai-researchgate" aria-hidden="true" style="margin-left:10px; margin-right:10px;"
        a href="https://www.researchgate.net/profile/Soumya_Ray5" ResearchGate Profile

/ Conference Card
a class="invisible" name="conference-papers"
.card
  .card-header
    h2.card-title
      = "Notable Conference Proceedings"
  .card-body
    = partial("partials/research_papers", locals: { papers: data.conference_papers.papers })
  .card-footer
    .row
      .col-6
        i class="ai ai-google-scholar" aria-hidden="true" style="margin-left:10px; margin-right:10px;"
        a href="https://scholar.google.com/citations?user=6WjiSOwAAAAJ" Google Scholar Profile
      .col-6 style="text-align:right;"
        i class="ai ai-researchgate" aria-hidden="true" style="margin-left:10px; margin-right:10px;"
        a href="https://www.researchgate.net/profile/Soumya_Ray5" ResearchGate Profile

/ Books Card
a class="invisible" name="books"
.card
  .card-header
    h2.card-title
      = "Books and Chapters"
  .card-body
    = partial("partials/research_papers", locals: { papers: data.books.papers })

/ Collaboration Card
a class="invisible" name="collaboration-papers"
.card
  .card-header
    h2.card-title
      = "Collaboration Papers"
  .card-body
    = partial("partials/research_papers", locals: { papers: data.journal_papers.papers.select(&:collaboration) })

/ Lab Card  
a class="invisible" name="lab"
.card
  .card-header
    h2.card-title
      = "Research Lab"
  .card-body
    span RayLab (雷門) attracts students from many backgrounds:
    ul.bullet-free.casual
      li MIS/CS: students with coding/analytics abilities
      li Management: students with IT technology interests
      li Design: students with IT service interests
  .card-footer 
    .row
      .col-6
      .col-6 style="text-align:right"
        a href="https://docs.google.com/presentation/d/1Y56N5yxcAKBzGqdljgC68OQnXKJ9lRHdunujXK35d3k/edit" Student Profiles
