h1.section_title Academic Service

.row
  - services = data.service.services
  - services.count.times do |count|
    .col-sm-12
      div class="card"
        div class="card-header"
          h2.card-title
            = services[count].name
        div class="card-body"
          ul.bullet-free
            - services[count].instances.each do |instance|
              li #{instance}
